body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.35;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
header img {
  width: 100%;
}
nav {
  display: flex;
  flex-basis: 90%;
  text-align: center;
}
main h1 {
  line-height: 1;
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}
footer {
  background-color: #3d3d3d;
  padding: 1px;
  text-align: center;
  color: #fff;
  border-top: 12px solid #eeb81a;
}
footer p {
  line-height: 1.4;
  padding: 2px;
  color: #d3d3d3;
}
footer span {
  color: #fff;
}
label[for="sortNum"] {
  margin-right: 12px;
}
.products {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.products img {
  width: 49%;
}
.products p {
  margin-bottom: 0px;
}
.productInfo span {
  font-weight: bold;
}
.wrapper {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  z-index: 1;
}
.mainNav {
  width: 50%;
  height: 100%;
  position: fixed;
  background-color: rgba(61,61,61,0.98);
  top: 0;
  left: -200px;
  bottom: 0;
  z-index: 9;
  margin: 0px;
}
.mainNav a {
  color: #fff;
}
.search {
  width: 100%;
  margin-top: 12px;
}
.navigation {
  margin-top: 12px;
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nav-trigger:checked ~ .mainNav {
  left: 0px;
  box-shadow: 0 0 10px 0px rgba(61,61,61,0.98);
}
.nav-trigger + label,
.mainNav {
  transition: left 0.2s;
}
label[for="nav-trigger"] {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../images/iconsprite.png");
  background-position: 216px -246px;
}
.icon {
  width: 35px;
  height: 5px;
  background-color: #808080;
  margin: 6px 0;
}
#logo {
  text-indent: -9999px;
  background-image: url("../images/realtruck_horizontal.svg");
  background-repeat: no-repeat;
  flex-basis: 60%;
  margin-bottom: 0px;
}
#heading {
  margin: 12px;
}
#heading h1 {
  color: #666;
}
#navIcon {
  flex-basis: 27%;
}
#productContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 12px;
}
#productContainer h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}
#activeSort {
  display: inline-block;
  position: relative;
  padding: 0px;
  left: 263px;
  outline: none;
  bottom: 44px;
}
#activeSort:before {
  content: 'Sort';
}
#activeSort:focus {
  pointer-events: none;
}
#activeSort:focus #selectContent {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
#selectContent {
  position: absolute;
  background-color: #efeeee;
  display: flex;
  top: 0px;
  right: -27px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s;
}
#pag ul {
  display: flex;
}
#pag ul li {
  padding: 10px;
}
#pages {
  display: none;
}
#sortContainer p {
  padding-left: 10px;
}
.leftarrow {
  position: relative;
  top: 7px;
  width: 25px;
  stroke: #000;
  fill: none;
  transform: rotate(180deg);
  padding-left: 5px;
}
.rightarrow {
  position: relative;
  top: 7px;
  width: 25px;
  stroke: #000;
  fill: none;
  padding-left: 5px;
}
#Layer_1 {
  padding: 20px 0px 0px 0px;
  width: 60%;
}
.st0 {
  fill: #e5e5e5;
}
.st1 {
  fill: #edb81e;
}
@media (min-width: 768px) {
  #productContainer {
    flex-direction: row;
    width: 768px;
    bottom: 90px;
    margin: 0px auto;
  }
  .products {
    margin-left: 12px;
    width: 348px;
  }
  .mainNav {
    width: 20%;
    left: -755px;
  }
  #sortContainer {
    background-color: #e5e5e5;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    bottom: 24px;
  }
  #activeSort {
    display: block;
    visibility: visible;
    left: 710px;
    top: -20px;
  }
  #selectContent {
    visibility: visible;
    display: flex;
  }
  #heading {
    padding: 12px;
    opacity: 0.9;
    background-color: #eeb81a;
    position: absolute;
    left: 0px;
    width: 97%;
    bottom: 23px;
    margin: 0px;
  }
  nav {
    flex-basis: 49%;
  }
  #navIcon {
    flex-basis: 31%;
  }
  #logo {
    margin-bottom: 12px;
    flex-basis: 69%;
  }
  #sortContainer p {
    padding-left: 10px;
    margin-bottom: 0px;
    padding-top: 12px;
  }
  #pag {
    display: none;
  }
  #pages {
    display: flex;
    justify-content: center;
  }
  #pages ul {
    display: flex;
    align-items: self-end;
  }
  #pages ul li {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fafafa;
  }
  .rightarrow,
  .leftarrow {
    top: 0;
    width: 15px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer #Layer_1 {
    order: 2;
    padding: 0px 10px 0px 0px;
    width: 30%;
  }
  footer p {
    order: 1;
    padding-left: 10px;
  }
}
@media (min-width: 1000px) and (max-width: 1236px) {
  #productContainer {
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
  }
  .products {
    margin-left: 12px;
    width: 237px;
  }
  #pag {
    display: none;
  }
  .mainNav {
    width: 20%;
    left: -200px;
  }
  .rightarrow,
  .leftarrow {
    top: 0;
    width: 15px;
  }
}
