body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.35;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
header {
  position: relative;
}
main h1 {
  line-height: 1;
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}
footer {
  background-color: #3d3d3d;
  padding: 1px;
  text-align: center;
  color: #fff;
  border-top: 12px solid #eeb81a;
}
footer p {
  line-height: 1.4;
  padding: 2px;
  color: #d3d3d3;
}
footer span {
  color: #fff;
}
.banner {
  background-image: url("../images/truck.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 216px;
  background-position: center;
}
.products {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.products img {
  width: 49%;
}
.products p {
  margin-bottom: 0px;
}
.productInfo span {
  font-weight: bold;
}
.mainNav {
  width: 67%;
  height: 100%;
  position: fixed;
  background-color: rgba(61,61,61,0.98);
  top: 0;
  left: -290px;
  bottom: 0;
  z-index: 9;
  margin: 0px;
}
.mainNav a {
  color: #fff;
}
#largeNav {
  display: none;
}
.desktopNav {
  display: flex;
  flex-basis: 90%;
  text-align: center;
}
.search {
  width: 93%;
  padding: 7px;
}
.search::placeholder {
  opacity: 0.5;
}
.navigation {
  position: relative;
  top: 70px;
  padding-left: 0px;
  margin: 0px;
}
.navigation li {
  position: relative;
  padding: 20px 12px;
  width: 95%;
  border-bottom: 1px solid rgba(239,238,238,0.25);
}
.navigation li:nth-child(1) {
  padding: 0px 10px 0px 0px;
  width: 100%;
  border-bottom: none;
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.nav-trigger:checked ~ .mainNav {
  left: 0px;
  box-shadow: 0 0 10px 0px rgba(61,61,61,0.98);
  overflow: scroll;
}
.nav-trigger + label,
.mainNav {
  transition: left 0.2s;
}
.nav-trigger:checked ~ label[for="nav-trigger"] {
  position: fixed;
}
label[for="nav-trigger"] {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url("../images/iconsprite.png");
  background-position: 216px -246px;
}
.icon {
  width: 35px;
  height: 5px;
  background-color: #808080;
  margin: 6px 0;
}
#logo {
  text-indent: -9999px;
  background-image: url("../images/realtruck_horizontal.svg");
  background-repeat: no-repeat;
  flex-basis: 60%;
  margin-bottom: 0px;
}
#heading {
  margin: 12px;
}
#navIcon {
  flex-basis: 27%;
}
#productContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 12px;
}
.productInfo h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}
#pag ul {
  display: flex;
}
#pag ul li {
  padding: 10px;
}
#pages {
  display: none;
}
#sortContainer p {
  padding-left: 10px;
}
.leftarrow {
  position: relative;
  top: 7px;
  width: 25px;
  stroke: #000;
  fill: none;
  transform: rotate(180deg);
  padding-left: 5px;
}
.rightarrow {
  position: relative;
  top: 7px;
  width: 25px;
  stroke: #000;
  fill: none;
  padding-left: 5px;
}
.menuarrow {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 25px;
  stroke: #d3d3d3;
  stroke-width: 1.5px;
  fill: none;
  padding-left: 5px;
}
#Layer_1 {
  padding: 20px 0px 0px 0px;
  width: 60%;
}
.st0 {
  fill: #e5e5e5;
}
.st1 {
  fill: #edb81e;
}
@media (min-width: 425px) and (max-width: 1024px) {
  #productContainer {
    flex-direction: row;
    width: 100%;
    bottom: 90px;
    margin: 0px auto;
  }
  .banner {
    height: 465px;
  }
  .products {
    margin-left: 12px;
    width: 48%;
  }
  .mainNav {
    width: 35%;
    left: -755px;
  }
  #sortContainer {
    background-color: #e5e5e5;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    bottom: 24px;
  }
  #activeSort {
    display: block;
    visibility: visible;
    left: 710px;
    top: -20px;
  }
  #selectContent {
    visibility: visible;
    display: flex;
  }
  #sortContainer {
    background-color: #e5e5e5;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    bottom: 24px;
  }
  #heading {
    padding: 12px;
    opacity: 0.9;
    background-color: #eeb81a;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 463px;
    margin: 0px;
  }
  #heading h2 {
    margin: 0px;
  }
  nav {
    flex-basis: 49%;
  }
  #navIcon {
    flex-basis: 31%;
  }
  #logo {
    margin-bottom: 12px;
    flex-basis: 69%;
  }
  #sortContainer p {
    padding: 10px 0px 10px 12px;
  }
  #pag {
    display: none;
  }
  #pages {
    display: flex;
    justify-content: center;
  }
  #pages ul {
    display: flex;
    align-items: self-end;
  }
  #pages ul li {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fafafa;
  }
  .rightarrow,
  .leftarrow {
    top: 0;
    width: 15px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer #Layer_1 {
    order: 2;
    padding: 0px 10px 0px 0px;
    width: 30%;
  }
  footer p {
    order: 1;
    padding-left: 10px;
  }
}
@media (min-width: 1025px) {
  .wrapper {
    max-width: 1236px;
    width: 100%;
    margin: 0px auto;
  }
  .mainNav {
    display: none;
  }
  .banner {
    height: 467px;
  }
  .products {
    margin-left: 12px;
    width: 297px;
    flex-direction: column;
  }
  .products img {
    width: 80%;
  }
  .productInfo {
    margin-top: 12px;
  }
  .productInfo h2 {
    font-size: 24px;
  }
  .item {
    padding: 6px;
    font-weight: bolder;
  }
  .item a {
    color: #fff;
  }
  .rightarrow,
  .leftarrow {
    top: 0;
    width: 15px;
  }
  #largeNav {
    display: block;
    background-color: #222;
  }
  #largeNav ul {
    display: flex;
    padding: 0px 35px 0px 35px;
    margin-bottom: 10px;
    justify-content: space-around;
  }
  #productContainer {
    flex-direction: row;
    max-width: 1236px;
    width: 100%;
    margin: 0px auto;
  }
  #navIcon {
    display: none;
  }
  #logo {
    margin-left: 15px;
    margin-bottom: 0px;
  }
  #pag {
    display: none;
  }
  #pages {
    display: flex;
    justify-content: flex-end;
  }
  #pages ul {
    display: flex;
    align-items: self-end;
  }
  #pages ul li {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #fafafa;
  }
  #sortContainer {
    background-color: #e5e5e5;
    padding: 1px;
    position: relative;
    bottom: 30px;
  }
  #heading {
    position: absolute;
    opacity: 0.9;
    top: 416px;
    left: 12px;
    padding: 20px 0px 20px 12px;
    background-color: #eeb81a;
    width: 28%;
    margin-left: 12px;
  }
  #heading span {
    color: #666;
    font-size: 14px;
  }
  #heading h2 {
    color: #fff;
    line-height: 0;
  }
  label[for="nav-trigger"] {
    display: none;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer #Layer_1 {
    order: 2;
    padding: 0px 60px 0px 0px;
    width: 15%;
  }
  footer p {
    order: 1;
    padding: 0px 0px 0px 60px;
  }
}
