doctype html
html
	head
		title Products
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet")
		link(href='/css/style.css', rel='stylesheet')
	body
		header
			nav
				div#navIcon
					span yolo 
				h1#logo Real Truck
			img(src="/images/truck.png" alt="Ford Truck")
		main
			section#heading
				p Truck Accessories >
				h1 WHEELS & RIMS
			section#sortContainer
				p 1 - 30 of 422
				div#activeSort
					p Sort >

