// Importing variables from file
@import 'variables'

body
	margin 0
	font-family: main-font
	line-height 1.35
	overflow-x hidden	
a
	text-decoration none
	color black
ul
	list-style none
			
main h1
	line-height 1
	margin 0px
	font-size 16px
	font-weight normal
footer
	background-color primary-color
	padding 1px
	text-align center
	color #ffffff
	border-top 12px solid secondary-color
	p
		line-height 1.4
		padding 2px
		color #d3d3d3
	span
		color #ffffff
		
.banner
	background-image url('../images/truck.png')
	background-size cover
	background-repeat no-repeat
	width 100%
	height 216px

.products
	display flex
	align-items flex-start
	border-bottom 1px solid #D6D6D6
	margin-bottom 12px
	padding-bottom 12px

.products img
	width 49%
	
.products p
	margin-bottom 0px

.productInfo span
	font-weight bold

.mainNav
	width 67%
	height 100%
	position: fixed
	background-color alpha(primary-color, .98)
	top 0
	left -290px
	bottom 0
	z-index 9
	margin 0px	
	a 
		color white
#largeNav
	display none

.desktopNav
	display flex
	flex-basis 90%
	text-align center
	
.search
	width 93%
	padding 7px
	&::placeholder
			opacity 0.5
				
.navigation
	position relative
	top 70px
	padding-left 0px
	margin 0px
	
	li
		padding 20px 12px
		width 95%
		border-bottom 1px solid alpha(#efeeee , 0.25) 

.navigation li:nth-child(1)
	padding 0px 10px 0px 0px
	width 100%
	border-bottom none

.nav-trigger
	position absolute
	clip rect(0, 0, 0, 0)

.nav-trigger:checked ~ .mainNav
	left 0px
	box-shadow 0 0 10px 0px alpha(primary-color, .98)

.nav-trigger + label, .mainNav 
	transition left 0.2s

label[for="nav-trigger"] 
	position absolute
	top 15px
	left 15px
	z-index 10
	width 40px
	height 40px
	cursor pointer
	background-image url("../images/iconsprite.png")
	background-position 216px -246px

.icon
	width 35px
	height 5px
	background-color gray
	margin 6px 0
	
#logo
	text-indent -9999px
	background-image url('../images/realtruck_horizontal.svg')
	background-repeat no-repeat
	flex-basis 60%
	margin-bottom 0px
	
#heading
	margin 12px
	
	& h1
		color #666666
	
#navIcon
	flex-basis: 27%

#productContainer
	display flex
	flex-direction column
	flex-wrap wrap
	margin 12px
	
#productContainer h1, h2
	font-size 24px
	font-weight 700
	margin 0px
	
#activeSort
	display inline-block
	padding 0px
	left 263px
	outline none
	bottom 44px

#activeSort:before
	content 'Sort'

#activeSort:focus
	pointer-events none
	
#activeSort:focus #selectContent
	opacity 1
	visibility visible
	pointer-events auto
		
#selectContent
	position absolute
	background-color #efeeee
	display flex
	top 0px
	right -27px
	padding 10px
	
	opacity 0
	visibility hidden
	transition visibility 1s
	
#pag ul
	display flex

	& li
		padding 10px
		
#pages
	display none
	
#sortContainer p
	padding-left 10px
	
// SVG Section
.leftarrow
	position: relative;
	top: 7px;
	width 25px
	stroke black
	fill none
	transform rotate(180deg)
	padding-left 5px

.rightarrow
	position relative
	top 7px
	width 25px
	stroke black
	fill none
	padding-left 5px
	
.menuarrow
	position absolute
	top 7px
	right 0px
	width 25px
	stroke #d3d3d3
	stroke-width 1.5px
	fill none
	padding-left 5px
	
#Layer_1
	padding 20px 0px 0px 0px
	width 60%
	
.st0
	fill #e5e5e5

.st1
	fill #edb81e
	
// Media Queries
// media query for medium screen		
@media (min-width: 767px) and (max-width: 1024px)
	
	#productContainer
		flex-direction row
		width tablet-width
		bottom 90px
		margin 0px auto
	
	.banner
		height 465px
		
	.products
		margin-left tablet-gutter
		width col-tablet
		
	.mainNav
		width: 35%
		left -755px
	
	#sortContainer
		background-color #e5e5e5
		width 100%
		margin-bottom 12px
		position relative
		bottom 24px
	
	#activeSort
		display block
		visibility visible
		left 710px
		top -20px

	#selectContent
		visibility visible
		display flex
	
	#heading
		padding 12px
		opacity 0.9
		background-color secondary-color
		position absolute
		left 0px
		width 97%
		top 463px
		margin 0px
		
	nav
		flex-basis 49%
		
	#navIcon
		flex-basis 31%
		
	#logo
		margin-bottom 12px
		flex-basis 69% 
	
	#sortContainer p
		padding 10px 0px 10px 12px
	
	#pag
		display none
	
	#pages
		display flex
		justify-content center

	#pages ul
		display flex
		align-items self-end
		li
			padding 8px
			border: 1px solid #dd
			background-color #FAFAFA
			
	.rightarrow, .leftarrow
		top 0
		width 15px
	
	footer
		display flex
		justify-content space-between
		align-items center

		#Layer_1
			order 2
			padding 0px 10px 0px 0px
			width 30%
		p
			order 1
			padding-left 10px
		
// media query for large sreen
@media (min-width: 1024px)

	.wrapper
		margin 0px 60px
		
	#largeNav
		display block
		background-color #222222
		ul
			display flex
			padding 0px 50px 0px 50px
			margin-bottom 10px
			justify-content space-around
			
	.item
		padding 6px
		
		a
			color font-color
			
	#productContainer
		flex-direction row
		width 100%
		margin 0px auto
	
	label[for="nav-trigger"]
		display none
	
	#navIcon
		display none
		
	#logo
		margin-left 25px
		margin-bottom 0px
	
	.banner
		height 467px

	.products
		margin-left gutter
		width col-4

	#pag
		display none	

	.mainNav
		display none
	
	#pages
		display flex
		justify-content flex-end

	#pages ul
		display flex
		align-items self-end
		
		li
			padding 8px
			border: 1px solid #dd
			background-color #FAFAFA
			
	.rightarrow, .leftarrow
		top 0
		width 15px
		
	#sortContainer
		background-color #e5e5e5

	#heading
		position absolute
		top 506px
		left 62px
		padding 20px 0px 20px 12px
		background-color secondary-color
		width 28%
		margin-left 12px
		color #ffffff

	footer
		display flex
		justify-content space-between
		align-items center

		#Layer_1
			order 2
			padding 0px 60px 0px 0px
			width 15%
		p
			order 1
			padding 0px 0px 0px 60px