primary-color =  #3d3d3d
secondary-color = #eeb81a
font-color = #ffffff
main-font = 'Roboto', sans-serif

// Media Query variables
// Desktop
fullWidth = 1236px
gutter = 12px
col-4 = fullWidth / 4 - gutter * 4
// Tablet
tablet-width = 768px
tablet-gutter = 12px
col-tablet = tablet-width/2 - tablet-gutter * 3